:root {

  --green_1: #036b52;

  --green_2: #2fc18c;

  --gray_1: #eaf1ef;

  --purple_1: #421981;

  --blue_1: #056cf9;
}

.navbar {
  height: 3em;
  margin-top: 0;
}

.cart-container {
  margin: 0.5em auto;
  width: 90%;
}

.cart-total {
  align-self: flex-end;
  border: 0;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.5em 1em;
  width: 16%;
}

.navbar-btn, .delete-btn, .cart-btn {
  border: 0;
  font-size: 1em;
  font-weight: 600;
}

.delete-btn {
  height: 100%;
  padding: 0.4em 0;
}

.cart-btn {
  padding: 0.5em 1em;
  transition: 0.5s;
}

.delivery-btn {
  border-radius: 3px;
}

.cart-btn:disabled, .delivery-btn:disabled {
  filter: grayscale(1);
  transition: 0.5s;
}

.navbar-btn:hover, .cart-btn:hover {
  cursor: pointer;
}

.navbar-text {
  line-height: 3em;
  vertical-align: middle;
}

.card-container, .details-container {
  margin: auto;
  width: 90%;
}

.cart-table {
  margin: auto;
  overflow: hidden;
  width: 60%;
}

.table-row {
  font-weight: 500;
  padding: 0.25em 0;
}

.table-row .default-td {
  padding: 0.4em 0;
}

.table-row .button-td {
  padding: 0;
}

.table-row td:nth-child( 2 ) {
  padding-left: 0.25em;
}

.table-row td:nth-child( 1 ) {
  border-radius: 3px 0 0 3px;
}

.table-row td:last-child {
  border-radius: 0 3px 3px 0;
}

.wd-10 {
  width: 10%;
}

.wd-15 {
  width: 15%;
}

.wd-30 {
  width: 30%;
}

.wd-45 {
  width: 45%;
}

.prod-card {
  height: 15%;
  margin: auto;
  width: 25%;
}

.prod-info-cont {
  max-height: 25%;
  max-width: 100%;
}

.prod-img {
  height: 10em;
  object-fit: cover;
  width: 100%;
}

.tc-white {
  color: white;
}

.bg-green-1 {
  background-color: var(--green_1);
}

.bg-green-2 {
  background-color: var(--green_2);
}

.bg-gray_1 {
  background-color: var(--gray_1);
}

.bg-purple-1 {
  background-color: var(--purple_1);
}

.bg-blue-1 {
  background-color: var(--blue_1);
}

.flex, .flex-column {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

.fg-4 {
  flex-grow: 4;
}

.fs-1 {
  flex-shrink: 1;
}

.pd-1 {
  padding: 1em;
}

.text-center {
  text-align: center;
}
